/* Configuracion General del sitio */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat", arial;
    box-sizing: border-box;
    list-style: none;
}

:root {

    --pink-button: #f72585;
    --dark_blue: #0b132b; 
    --text-a: #edf0f1;
    --button-radius: 20px;
    --white-shadow: 1px 1px 10px rgba(255,255,255,0.4);
    --blue-shadow:  1px 1px 10px rgba(0,255,255,0.4);
    --h1: 30px;
    --h2: 18px;
    --h3: 18px;
}

body {
/*background: rgb(145,65,143);
background: linear-gradient(315deg, rgba(145,65,143,1) 0%, rgba(0,7,36,1) 72%);*/

/* Color Azul con Morado
background: rgb(41,51,124);
background: radial-gradient(circle, rgba(41,51,124,1) 56%, rgba(161,65,171,0.8547794117647058) 100%);
*/


/* Color Azul con blanco  */
background: rgb(23,80,143);
background: radial-gradient(circle, rgba(23,80,143,1) 7%, rgba(23,24,43,1) 65%);
}
/*--------------------------------Menu de naveggacion---------------*/

.nav_menu {
    /* position: relative; */
    z-index: 100;
}

/* Configuracion del los items del Menu */
body .nav_items {
    display: flex;
    align-items: center;
    padding: 35px 25px 35px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: white;
    list-style: none;
    background-color: #001219;
    box-shadow: var(--white-shadow);
}

/* Flex Conteiner position */

.nav_items {
    position: relative;
}

.nav_items .logo{
    display: flex;
    flex: 1;
    flex-basis: 7%;
    justify-content: center;
    cursor: pointer;
}

.nav_items .search{
    display: flex;
    flex: 1;
    flex-basis: 40%;
    margin-left: 10px;
    margin-right: 50px;
}

.nav_items .profile{
    display: flex;
    flex: 2;
    flex-basis: 10%;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
}

.nav_items .cta{
    display: flex;
    flex: 1;
    flex-basis: 10%;
    justify-self: flex-start;
}

/* Configuracion items */
.nav_items .search input{
    width: 100%;
    height: 40px;
    background-color: white;
    font-weight: bold;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: var(--white-shadow);
    border: none;
    text-align: center;
    transition: 0.5s ease; /* <-- Efecto Hover en la tarjeta */;
}

.nav_items .search input:hover{
    box-shadow: 1px 1px 15px rgba(255,255,255,0.9);
    transition: 0.5s ease; /* <-- Efecto Hover en la tarjeta */
}

.nav_items .profile .nav_profile{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    box-shadow: var(--blue-shadow);
    transition: 0.5s ease; /* <-- Efecto Hover en la tarjeta */;
}

.nav_items .profile .nav_profile:hover{
    box-shadow: 1px 1px 15px rgba(0,255,255,0.9);
}

.nav_items .profile .dropdown_arrow{
    width: 30px;
    height: 30px;
}

.nav_items .sub_menu_profile {
    display: block;
    position: absolute;
    right: 23.4%;
    background-color:  #001219;
    padding: 55px 30px 10px;
    border-radius: 15px;
    z-index: -1;
}

.go-down {
    animation: "dropdown-menu 1s forwards";
    transform: translateY(115px);
    transition: 1s;
}

.go-up {
    animation: "dropdown-menu 1s forwards";
    transform: translateY(0px);
    transition: 1s;
}

@keyframes dropdown-menu {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(200px);
    }
}

@keyframes moveBackwards {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-170px);
    }
}

.nav_items .sub_menu_profile a{
    text-decoration: none;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.sub_menu_profile li {
    list-style: none;
}

.nav_items .cta button {
    width: 50%;
    height: 40px;
    border-radius: var(--button-radius);
    border: none;
    font-weight: bold;
    color: white;
    background: #f72585;
    cursor: pointer;
    box-shadow: var(--white-shadow);
    transition: 0.5s ease; /* <-- Efecto Hover en la tarjeta */
}

.nav_items .cta button:hover {
    box-shadow: 1px 1px 20px rgba(255,255,255,0.9);
    background: orange;
    transition: 0.5s ease; /* <-- Efecto Hover en la tarjeta */
    transform: scale(1.2);
}
/*---------------------------------- Cards  -----------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/

/* Contenedor Flex para Cartas de Listing */
.container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;;
    flex-wrap: wrap;
    overflow: hidden;
}

.container-1 div{
    background-color: #0b132b;
    opacity:1   ;
    color: #fffffc;
    border-radius: 20px
}

/* Inicio de la Seccion Card lIsting */
.container-1 .card {
    display:grid; /* Crea grid */
    margin: 80px;
    grid-template-columns: 300px; /* Definle 'n' col y su ancho */
    grid-template-rows: 210px 150px 100px 130px 50px; /* Define 'n' row y su altura */
    grid-template-areas: "image" "text" "info" "agent" "stats"; /* Areas del grid y su referencia*/

    font-family: "Montserrat";
    font-weight: bold;
    border-radius: 18px;
    box-shadow: var(--white-shadow);
    text-align: center;
    transition: 0.5s ease; /* <-- Efecto Hover en la tarjeta */
    cursor: pointer; /* <-- Efecto Hover en la tarjeta */
}

/* efecto hover de la tarjeta */
.card:hover {
    transform: scale(0.95);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
/*-----------------------------------------------------------------*/

/* Esta es la seccion que se encarga de customizar la imagen dentro de la carta */
.card-image {
    grid-area: image; /* <- Referencia la area con el Grid: Card */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: 300px 210px;
}

/* imagen del inmueble */
.card-image img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/*-----------------------------------------------------------------*/

/* Seccion texto del listing */
.card-text {
    grid-area: text;
    margin: 20px;
}
/*Color del texto de la tarjeta */
.card-text a{
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    color: #0b132b;
}


/* Precio */
.card-text .colonia{
    font-size: 20px;
    font-weight: bold;
    color: #0b132b;
    width:100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: white;
    transition: 0.5s ease; /* <-- Efecto Hover en la tarjeta */
    cursor: pointer; /* <-- Efecto Hover en la tarjeta */
}

.card-text .colonia:hover{
    box-shadow: 1px 1px 15px rgba(0,255,255,0.9);
}

/* Colonia */
.card-text .price{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 20px;
}

/* tipo de inmueble */
.card-text .tipo-inmueble {
    color: #f72585;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*-----------------------------------------------------------------*/

/* Informacion inmueble */

.card-info {
    grid-area:info;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Imagen de Informacion  */
.card-info img{
    width: 25px;
}

/* Seccion Imagen e informacion de Agente */
.card-agent {
    grid-area: agent;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

/* Imagen de agente */
.card-agent img{
    width: 65%;
    height: 65%;
    border-radius: 60%;
    margin-bottom: 50px;
    box-shadow: 1px 1px 10px rgba(0,255,255,0.9);
    transition: 0.5s ease; /* <-- Efecto Hover en la tarjeta */
    cursor: pointer; /* <-- Efecto Hover en la tarjeta */
}

.card-agent img:hover{
    box-shadow: 1px 1px 15px rgba(0,255,255,0.9);
}

/* Informacion del agente texto */
.card-agent .info-agent{
    width: 90%;
    text-align: center;
    vertical-align: middle;
    line-height: 70%;
}
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/

/* Seccion de contacto y like */
.card-social {
    grid-area: stats; /* Referencia la area con el Grid: Card */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Separado por Fracciones */
    grid-template-rows: 1fr; /* Row Separada por fraccion */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

/*Color del texto de la tarjeta */
.card-social a{
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    color: #0b132b;
}

.card-social a:hover{
    color: #f72585;
    transform: scale(1.4);
}

/* like */
.card-social .like {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.card-social .like img {
    width: 40px;
}

/* Contacto */
.card-social .contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.card-social .contacto img {
    width: 30px;
}

/*---------------------------------- Dashboard  -----------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/


/* Header information */
.location-info {
    display:flex;
    align-items: center;
    justify-content: start;
    margin: 40px 20px 60px 20px;
}

.location-info h1 {
    font-size: var(--h1);
    color: white;
}

/* ----------------------- edit ----*/
/* ----------------------- edit ----*/
/* ----------------------- edit ----*/
/* ----------------------- edit ----*/
/* ----------------------- edit ----*/
.profile-dashboard-1 div{
    /*border: 1px solid;*/
    border-radius: 15px;
}
/* ----------------------- edit ----*/
/* ----------------------- edit ----*/
/* ----------------------- edit ----*/

/* Main Grid for the dashboard */
.profile-dashboard-1{
    display: grid;
    margin: 20px;
    grid-gap: 30px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 70px 500px;
}

/* General Configuration of the left Card (Profile) In the dashboard*/
.profile-dashboard-1 .profile-card {
    grid-row:1/3; /* <- Configuracion del Grid General */

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 160px 150px 70px 170px 50px;
    align-content: space-evenly;
    text-align: center;
    background-color: var(--dark_blue);
    color: white;
    font-weight: bold;
    font-size: 13px;
    box-shadow: var(--white-shadow);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* Picture Configuration Profile listing*/
.profile-card .card-agent-listing{
    display: flex;
    align-items: center;
    justify-content:center;
}

.profile-dashboard-1 .profile-card .profile-picture {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    box-shadow: var(--blue-shadow);
}

/* Agent Info Configuration */
.profile-card .card-agent-info {
    display: flex;
    align-items: start;
    justify-content: center;
}

.profile-card .card-agent-info li{
    margin: 4px 0px;
    font-size: 12px;
}

.profile-card .card-agent-info h3{
    font-size: var(--h3);
}

/* Configuration Button Cta Contact*/
.profile-card .contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-dashboard-1 .profile-card .contact-button .cta-contact {
    background-color: var(--pink-button);
    color: white;
    font-weight: bold;
    border: none;
    width: 170px;
    height: 40px;
    border-radius: var(--button-radius);
    box-shadow: var(--white-shadow);
}

/* Followers boxes Configuration */
.profile-dashboard-1 .profile-card .card-agent-followers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    font-size: 12px;
}

.profile-dashboard-1 .profile-card .card-agent-followers div{
    display:flex;
    flex-direction: columns;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin: 5px;
    border: 1px solid;
}

.card-agent-followers .pink{color: var(--pink-button);}

/* Buttons boxes Configuration */
.profile-dashboard-1 .profile-card .card-agent-buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px;
    align-items: center;
    background-color: white;
    color: var(--dark_blue);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/* like */
.card-agent-buttons .follow img{ width: 40px;}
/* Whatsapp */
.card-agent-buttons .contact img{ width: 30px;}

/* Config Divs Dashboard */
/* Colonia*/
.profile-dashboard-1 .dash-colonia {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark_blue);
    color:white;
    box-shadow: var(--white-shadow);
    text-align: center;
    font-weight: bold;
}

/* Active */
.profile-dashboard-1 .dash-active {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark_blue);
    color:white;
    box-shadow: var(--white-shadow);
    text-align: center;
}

.profile-dashboard-1 .dash-active button{
    background-color: green;
    border: none;
    border-radius: 50px;
    width: 100px;
    height: 40px;
    color: white;
    font-weight: bold;
}

.profile-dashboard-1 .dash-price {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark_blue);
    color:white;
    box-shadow: var(--white-shadow);
    text-align: center;
    font-weight: bold;
}

/* Terreno */
.profile-dashboard-1 .dash-m2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark_blue);
    color:white;
    box-shadow: var(--white-shadow);
    text-align: center;
    font-weight: bold;
}

.profile-dashboard-1 .dash-m2 img{
    width: 20px;
    height: 20px;
    margin:10px;
}

/* Construccion */
.profile-dashboard-1 .dash-construccion {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark_blue);
    color:white;
    box-shadow: var(--white-shadow);
    text-align: center;
    font-weight: bold;
}

.profile-dashboard-1 .dash-construccion img{
    width: 25px;
    height: 25px;
    margin:10px;
}

/* habitaciones */
.profile-dashboard-1 .dash-hab {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark_blue);
    color:white;
    box-shadow: var(--white-shadow);
    text-align: center;
    font-weight: bold;
}

.profile-dashboard-1 .dash-hab img{
    width: 25px;
    height: 25px;
    margin:10px;
}

/* banos */
.profile-dashboard-1 .dash-banos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark_blue);
    color:white;
    box-shadow: var(--white-shadow);
    text-align: center;
    font-weight: bold;
}

.profile-dashboard-1 .dash-banos img{
    width: 25px;
    height: 25px;
    margin:10px;
}

/* autos */
.profile-dashboard-1 .dash-autos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark_blue);
    color:white;
    box-shadow: var(--white-shadow);
    text-align: center;
    font-weight: bold;
}

.profile-dashboard-1 .dash-autos img{
    width: 25px;
    height: 25px;
    margin:10px;
}

/* Slider and statistics */
.slider-profile {
    grid-column: 2/6;
    grid-row: 2/3;
    background-color: var(--dark_blue);
    box-shadow: var(--white-shadow);
}

.slider-profile img{
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: none;
}

.chart-price {
    grid-column: 6/10;
    grid-row: 2/2;
    box-shadow: var(--white-shadow);
}

.chart-price img {
    width: 100%;
    height: 100%;
    border-radius: 15px;

}






