/* Configuracion General del sitio */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none
    font-family: "Montserrat", arial;
}

:root {
    --red-sunset: linear-gradient(35deg, rgba(53,92,125,1) 0%, rgba(108,91,123,1) 100%);
    --purple-background: linear-gradient(315deg, rgba(145,65,143,1) 0%, rgba(0,7,36,1) 72%);
    --dark_blue: #0b132b;
    --text-a: #edf0f1;
}

body {
/*background: rgb(145,65,143);
background: linear-gradient(315deg, rgba(145,65,143,1) 0%, rgba(0,7,36,1) 72%);*/

background: rgb(41,51,124);
background: radial-gradient(circle, rgba(41,51,124,1) 56%, rgba(161,65,171,0.8547794117647058) 100%);
}


/*--------------------------------Menu de naveggacion---------------*/

/* Configuracion del los items del Menu */
.nav_items {
    display: flex;
    align-items: center;
    padding: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: white;
    list-style: none;
    background-color: #001219;
    box-shadow: 5px 5px 15px rgba(255,255,255,0.9);
}

/* Flex Conteiner position */

.nav_items .logo{
    display: flex;
    flex: 1;
    flex-basis: 10%;
}

.nav_items .search{
    display: flex;
    flex: 1;
    flex-basis: 50%;
    margin-left: 10px;
    margin-right: 50px;
}

.nav_items .profile{
    display: flex;
    flex: 2;
    flex-basis: 10%;
    justify-content: center;

}

.nav_items .cta{
    display: flex;
    flex: 1;
    flex-basis: 10%;
}

/* Configuracion items */
.nav_items .search input{
    width: 100%;
    height: 40px;
    background-color: white;
    font-weight: bold;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0,255,255,0.9);
}

.nav_items .profile .nav_profile{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0,255,255,0.9);
}

.nav_items .profile .dropdown_arrow{
    width: 30px;
    height: 30px;

}

.sub_menu_profile {
    display: none;
}

.nav_items .profile:hover .sub_menu_profile {
       display: block;
       position: absolute;
       background-color:  #001219;
       padding: 30px;
       border-radius: 15px;
       animation: dropdown-menu 1s forwards;
}

.nav_items .profile:hover .sub_menu_profile a{
    text-decoration: none;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

@keyframes dropdown-menu {
    from {
        transform: translateY(70px);
    }
    to {
        transform: translateY(95px);
    }

}

.sub_menu_profile li {
    list-style: none;
}

.nav_items .cta button {
    width: 100%;
    height: 40px;
    border-radius: 20px;
}


/*---------------------------------- Cards  -----------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/

/* Contenedor Flex para Cartas de Listing */
.container-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;;
    flex-wrap: wrap;
    overflow: hidden;
}

.container-1 div{
    background-color: #0b132b;
    opacity:1   ;
    color: #fffffc;
    border-radius: 20px
}

/* Inicio de la Seccion Card lIsting */
.container-1 .card {
    display:grid; /* Crea grid */
    margin: 80px;
    grid-template-columns: 300px; /* Definle 'n' col y su ancho */
    grid-template-rows: 210px 150px 100px 130px 50px; /* Define 'n' row y su altura */
    grid-template-areas: "image" "text" "info" "agent" "stats"; /* Areas del grid y su referencia*/

    font-family: "Montserrat";
    font-weight: bold;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0,255,255,0.9);
    text-align: center;
    transition: 0.5s ease; /* <-- Efecto Hover en la tarjeta */
    cursor: pointer; /* <-- Efecto Hover en la tarjeta */
}

/* efecto hover de la tarjeta */
.card:hover {
    transform: scale(0.95);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
/*-----------------------------------------------------------------*/

/* Esta es la seccion que se encarga de customizar la imagen dentro de la carta */
.card-image {
    grid-area: image; /* <- Referencia la area con el Grid: Card */
    border-top-left-radius: 15px
    border-top-right-radius: 15px
    background-size: 300px 210px
}

/* imagen del inmueble */
.card-image img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/*-----------------------------------------------------------------*/

/* Seccion texto del listing */
.card-text {
    grid-area: text;
    margin: 20px;
}
/*Color del texto de la tarjeta */
.card-text a{
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    color: #0b132b;
}


/* Precio */
.card-text .colonia{
    font-size: 20px;
    font-weight: bold;
    color: #0b132b;
    width:100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: white;
    transition: 0.5s ease; /* <-- Efecto Hover en la tarjeta */
    cursor: pointer; /* <-- Efecto Hover en la tarjeta */
}

.card-text .colonia:hover{
    box-shadow: 1px 1px 15px rgba(0,255,255,0.9);
}

/* Colonia */
.card-text .price{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 20px;
}

/* tipo de inmuebl */
.card-text .tipo-inmueble {
    color: #f72585;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*-----------------------------------------------------------------*/

/* Informacion inmueble */

.card-info {
    grid-area:info;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Imagen de Informacion */
.card-info img{
    width: 25px;
}

/* Seccion Imagen e informacion de Agente */
.card-agent {
    grid-area: agent;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

/* Imagen de agente */
.card-agent img{
    width: 65%;
    height: 65%;
    border-radius: 60%;
    margin-bottom: 50px;
    box-shadow: 1px 1px 10px rgba(0,255,255,0.9);
    transition: 0.5s ease; /* <-- Efecto Hover en la tarjeta */
    cursor: pointer; /* <-- Efecto Hover en la tarjeta */
}

.card-agent img:hover{
    box-shadow: 1px 1px 15px rgba(0,255,255,0.9);
}

/* Informacion del agente texto */
.card-agent .info-agent{
    width: 90%;
    text-align: center;
    vertical-align: middle;
    line-height: 70%;
}
/*-----------------------------------------------------------------*/

/* Seccion de contacto y like */
.card-social {
    grid-area: stats; /* Referencia la area con el Grid: Card */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Separado por Fracciones */
    grid-template-rows: 1fr; /* Row Separada por fraccion */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

/*Color del texto de la tarjeta */
.card-social a{
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    color: #0b132b;
}

.card-social a:hover{
    color: #f72585;
    transform: scale(1.4);
}

/* like */
.card-social .like {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.card-social .like img {
    width: 40px;
}

/* Contacto */
.card-social .contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.card-social .contacto img {
    width: 30px;
}
