<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block description %} {% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <title> {% block title %} {% endblock %}</title>
    </head>
    <body>
        <nav class="nav_menu">
            <ul class="card-info-div nav_items">
                <li class="logo">Perfect Deal</li>
                <li class="search"><input type="search" name="search" placeholder="Buscar Ubicacion"></li>
                <li class="profile"> <img class="profile-picture" id="headerDropImg" src="../static/profile_pic/profile.jfif"> <p>Alberto Ortiz</p>
                </li>
                <div class="sub_menu_profile go-up" id="headerDropMenu">
                    <ul>
                        <li><a href="#">Crear Cuenta</a></li>
                        <li><a href="#">Iniciar Sesionn</a></li>
                        <li><a href="#">Configuracion</a></li>
                        <li><a href="#">Cerrar Sesion</a></li>
                    </ul>
                </div>

                <li class="cta"><button class="general-button cta-listing">Publica Gratis</button></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
        <script src="{{url_for('static', filename= '/js/script.js')}}"></script>
    </body>
</html>
