<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block description %} {% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename = '/css/style.css')}}">
        <title> {% block title %} {% endblock %}</title>
    </head>
    <body>
        <nav class="nav_menu">
            <ul class="nav_items">
                <li class="logo">Perfect Deals</li>
                <li class="search"><input type="search" name="search" placeholder="Buscar Ubicacion"></li>
                <li class="profile"><img class="nav_profile" src="{{url_for('static', filename='/profile_pic/profile.jfif')}}">
<!--                    <img class="dropdown_arrow" src="{{url_for('static', filename= '/iconos/dropmenu_arrow.png')}}">-->
                    <div class="sub_menu_profile" id="sub">
                        <ul>
                            <li><a href="#">Crear Cuenta</a></li>
                            <li><a href="#">Iniciar Sesion</a></li>
                            <li><a href="#">Configuracion</a></li>
                            <li><a href="#">Cerrar Sesion</a></li>
                        </ul>
                    </div>
                </li>

                <li class="cta"><button class="cta-listing">Publica Gratis</button></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>