{% extends 'base.html' %}

{% block content %}

    <section class="profile-dashboard-1">
        <div class="profile-card">
            <div class="card-agent"> <img src="{{url_for('static', filename='/profile_pic/profile.jfif')}}"></div>
            <div class="card-agent"> Jorge Canchola</div>
            <div class="card-agent"> Perfect Deals</div>
            <div class="card-agent"> 3339548781</div>
            <div class="card-agent"> Seguir</div>
            <div class="card-agent"> Seguidores/Siguiendo</div>

        </div>
        <div>Colonia</div>
        <div>Activa</div>
        <div>12,000,000</div>
        <div>500 m2</div>
        <div>500 m2</div>
        <div>3</div>
        <div>2</div>
        <div>3</div>
        <div class="slider-profile">Slider</div>

    </section>

{% endblock %}